body {
    background-color: #aecfee;
    height:100%;
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.stopwatch {
    text-align:center;
    background-color: #7777773a;
    width: 500px;
    height: 175px;
    border: 3px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
    margin: 30px auto;
}
.stopwatch button {
    background-color: #ffffff49;
    outline: none;
    border: none;
    width: 50px;
    height: 25px;
    border: 3px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
    cursor: pointer;
}

.stopwatch button:hover {
    background-color: #ffffff73;
}